[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "benchar/cbenchar/pybind11"]
	path = benchar/cbenchar/pybind11
	url = ../../pybind/pybind11
	branch = stable
